h1 {
  margin: 0;
}

.myClass {
  font-size: 45px;
  font-weight: bold;
  color: indigo;
}

.myClassTwo {
  font-size: 45px;
  font-weight: bold;
  color: darkgreen;
}

.myClassThree {
  font-size: 45px;
  font-weight: bold;
  color: red;
}
